.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.modal-content {
  width: 850px !important
}

.bg-lb{
  background-color: rgb(245,247,250);
}

.nodeco{
  text-decoration: none !important   
}